html {
	box-sizing: border-box;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	margin: auto;
	font-family: sans-serif;
	background: #F9F9F9;
	color: grey;
}

a {
  color: #dddddd;
}

  /***********************/
 /*** Navigation Menu ***/
/***********************/

.navbody {
	margin: auto;
	font-family: sans-serif;
	background: #eeeeee;
}

	
.navbar {
  overflow: hidden;
  background-color: #eeeeee;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: grey;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #eeeeee;
  color: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menuline {
	max-height: 3px;
	margin-top: 0px;
	font-family: sans-serif;
	background: #F39200;
}

  /*********************/
 /*** Standard Kram ***/
/*********************/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #eeeeee;
  color: grey;
  text-align: center;
  font-size: x-small;
}

section {
	margin-top: 75px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: sans-serif;
	background: #F9F9F9;
	color: grey;
}

.sectionstart {
	margin-top: 175px;
	font-family: sans-serif;
	background: #F9F9F9;
	color: grey;
}

.wrapper350 {
	width: 350px;
	padding: 20px;
}

.2-column {
  column-count: 2;
}

  /*************/
 /*** Input ***/
/*************/


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #19A293;
  font-size: medium;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit]:hover {
  background-color: #F39200;
}

* {
  box-sizing: border-box;
}

  /***************/
 /*** Columns ***/
/***************/

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column3 {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

success {
	margin-top: 100px;
	max-width: 106em;
	font-family: sans-serif;
	background: #333333;
	color: #80FF00;
}

  /*********************/
 /*** Button Styles ***/
/*********************/


.button1 {  
  width: 100%;
  background-color: #19A293;
  font-size: medium;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button1:hover {
  background-color: #F39200;
}

.button2 {  
  width: 20%;
  background-color: #19A293;
  font-size: medium;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button2:hover {
  background-color: #F39200;
}

.button3 {  
  width: 16%;
  background-color: #19A293;
  font-size: 14px;
  color: white;
  padding: 12px 6px;
  margin-top: 8px;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button3:hover {
  background-color: #F39200;
}

  /*************/
 /*** Suche ***/
/*************/

.container {
    width: 95%;
    margin-top: 40px;

}

.form-group {
    margin-bottom: 15px;
}

.row-suche {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.input-suche {
    width: 83%;
float: left;


.input-submit {
    width: 17%;
float: left;
}

  /************************/
 /*** Angebot Position ***/
/************************/

.poscolumn1 {
  float: left;
  width: 8%;
}
.poscolumn2 {
  float: left;
  width: 8%;
}
.poscolumn3 {
  float: left;
  width: 60%;
}
.poscolumn4 {
  float: left;
  width: 8%;
}
.poscolumn5 {
  float: left;
  width: 8%;
}
.poscolumn6 {
  float: left;
  width: 8%;
}